// TOP BLOCK (MEDIA)

//////////////////



// OUR STORY - TOP PART (MEDIA)
@media screen and (max-width: 576px) {
	.story {
		&__row {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__image {
			margin: 0 0 20px 0;
		}

		&__link {
			text-align: center;
		}
	}
}
///////////////////////////////


// OUR STORY - VIDEO (MEDIA)

/////////////////////////////


// EXPERTISE (MEDIA)
@media screen and (max-width: 768px) {
	.expertise {
		&__column {
			width: 50%;
		}
	}
}
@media screen and (max-width: 576px) {
	.expertise {
		&__column {
			width: 100%;
		}
	}
}
//////////////////////



// MEET OUR AMAZING TEAM (MEDIA)
@media screen and (max-width: 992px) {
	.teammates {
		&__row {
			justify-content: center;
			margin: 0 -20px -20px 0;
		}
		&__column {
			margin: 0 20px 20px 0;
		}
	}
}
//////////////////////////////



// OUR WORKS (MEDIA)
@media screen and (max-width: 576px) {
	.works {
		&__txtblock {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__title {
			margin: 0 0 20px 0;
		}
	}
}
@media screen and (min-width: 1366px), screen and (max-width: 576px) {
	.photos {
		&__item {
			grid-column: span 2;
			grid-row: span 2;
		}
	}
}
////////////////////////////



// QUOTES (MEDIA)

//////////////////////



// NEWS, CLIENT (MEDIA)
@media screen and (max-width: 992px) {
	.news-client {
		&__box {
			display: flex;
			flex-direction: column;
		}
	}
	.form {
		order: 2;
		text-align: center;
		&__enterform {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__submitmsg {
			padding: 10px 100px;
		}
	}
	.client {
		order: 1;
		text-align: center;
		margin: 0 0 20px 0;
		&::after {
			content: '';
			display: block;
			margin: 15px auto 0;
			width: 50%;
			height: 2px;
			opacity: 0.3;
			background-color: #413d4b;
		}
		&__logobox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			padding: 10px;
			flex: 0 0 25%;
		}
	}
}
@media screen and (max-width: 576px) {
	.news-client {
		&__box {
		}
	}
	.form {
		&__userdata {
			width: 100%;
		}
	
		&__usermessage {
			width: 100%;
		}
	}
}
////////////////////////



// FOOTER (MEDIA)
@media screen and (max-width: 992px) {
	.footer {
	}
	.footbox {
		&__logo {
			display: none;
			&_adptv {
				text-align: center;
				display: inline-block;
				align-self: center;
				margin: 0 20px 10px 0;
			}
		}
		&__title {
			display: none;
			&_adptv {
				text-align: center;
				display: inline-block;
				align-self: center;
				font-size: 15px;
				line-height: 26px;
				font-weight: 900;
				letter-spacing: 0.05em;
			}
		}
		&__main {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__column {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(auto-fill, 1fr);

			width: 45%;
			margin: 0 0 20px 0;
			&_wrap {
			}
		}
	}
	
	.footrow {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__links {
			margin: 0 0 20px 0;
		}
			ul {
				display: flex;
				flex-direction: column;
			}
			li {
				position: relative;
				&:before {
					position: absolute;
					top: 10px;
					left: -15px;

					content: '';
					display: block;
					width: 5px;
					height: 5px;
					background-color: #fff;
				}
			}
		}
}

@media screen and (max-width: 576px) {
	.footbox {
		&__headers {
		}
		&__logo {
			&_adptv {
			}
		}
		&__title {
			&_adptv {
			}
		}
		&__main {
		}
		&__column {
			margin: 0 0 50px 0;

			display: flex;
			flex-wrap: wrap;

			justify-content: center;
			width: 100%;
			&_wrap {
			}
		}
	}
}
///////////////////